<p> <strong>Xin chào {{nickname}},</strong></p>
<p>Cảm ơn bạn đã tin dùng
  {{serviceName}}. Bạn nhận được email này vì chúng tôi đã nhận được yêu cầu đặt
  lại mật khẩu cho tài khoản
  {{email}}
  của bạn.</p>
<p>Vui lòng nhấp vào link dưới đây để đặt lại mật khẩu của bạn.</p>
<p> <strong><a href={{url}}> Đặt lại mật khẩu</a>.</strong></p>
<p>Thời gian hiệu lực là 1 giờ.</p>
<p>Nếu ban không yêu cầu đặt lại mật khẩu, xin hãy bỏ qua thư này. </p>
<p>※Đây là thư hệ thống, vui lòng không trả lời thư này.</p>