<p>
  <strong> Vui lòng nhấp vào link dưới đây để hoàn thành việc đăng ký.</strong>
  <a href={{url}}> Xác nhận </a></p>
<p>Nếu bạn không yêu cầu đăng ký tài khoản, xin hãy bỏ qua thư này.</p>
<p>Thân ái,</p>
<p>{{serviceName}}</p>